body{
    margin: 0;
    padding: 0;
    background-color: #121212;
}

/* Estilos para el contenedor del reproductor */
#container {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* Estilos para el reproductor de música */
#player {
    background-color: #282828;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#artist-photo {
    margin: 20px 0;
}

#artist-photo img {
    max-width: 200px;
    border-radius: 50%;
}

/* Estilos para el título */
h1 {
    color: #1ED760;
    font-size: 24px;
}

/* Estilos para la lista de reproducción */
ul#playlist {
    list-style-type: none;
    padding: 0;
}

ul#playlist li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #333;
    margin: 10px 0;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
}

/* Estilos para los botones de reproducción */
button {
    background-color: #1ED760;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #1DB954;
}

/* Estilos para la barra de volumen */
input[type="range"] {
    width: 100%;
    height: 5px;
    margin-top: 10px;
    background-color: #1ED760;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #1ED760;
    border: 2px solid #fff;
    border-radius: 50%;
}

/* Estilos para los botones de reproducción específicos */
button#play-pause {
    background-color: #1ED760;
}

button#loop {
    background-color: #1ED760;
}

button#random {
    background-color: #1ED760;
}

/* Estilos para la imagen del artista */
#artist-photo img {
    max-width: 200px;
    border-radius: 50%;
    transition: transform 2s linear;
}

/* Agregar animación de rotación */
#artist-photo img.rotate {
    transform: rotate(360deg);
}

