*{
    margin: 0;
    padding: 0;
}
.success{
    border: solid 3px green;
  }
  
  .error{
    border: solid 2px red;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}
h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
input[type="text"],
input[type="password"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
}
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
#registroForm {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
