body {
    font-family: 'Arial', sans-serif;
    background-color: #b4afaf;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 80%;
}

.note {
    background-color: white;
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
    position: relative;
    font-size: 15px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #ff0000;
    border: none;
    background: none;
    font-size: 14px;
}
